##############################
## Folders                  ##
##############################
target
.idea
##############################
## Netbeans conf            ##
##############################
nb-configuration.xml
nbactions.xml