<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>文件上传</title>
</head>
<body>
	<form action="#(ctx)/file/upload" method="post" enctype="multipart/form-data">
		<table>
			<tr>
				<td>文件1</td>
				<td><input type="file" name="file1"></td>
			</tr>
			<tr>
				<td>文件2</td>
				<td><input type="file" name="file2"></td>
			</tr>
			<tr>
				<td>文件3</td>
				<td><input type="file" name="file3"></td>
			</tr>
			<tr>
				<td><input type="submit" value="提交"></td>
				<td><input type="reset" name="重置"></td>
			</tr>
		</table>
	</form>
</body>
</html>